.container{
    position:relative;
    background-color: crimson;
    width: 750px;
    height: 200px;
}
.i{
    border-radius: 50%;
}
.con{
    position:absolute;
    top: 100px;
    right: 300px;
    border-radius: 50%;

}
.container1{
    background-color: grey;
    width: 750px;
    height: 600px;
    padding:0%;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
}

.a{
    padding-left: 40px;
}
ol{
    padding-left: 70px;
}